.example-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    background-color: WhiteSmoke;
    padding: 20px 50px;
    margin-top: 100px;
    border: 2px solid Gainsboro;
    border-radius: 2px;
}

mat-form-field {
    width: 100%;
    margin-right: 30px;
}

.save {
    margin-right: 30px;
}

.button-div {
    margin-top: 20px;
}

input.input-year::-webkit-outer-spin-button,
input.input-year::-webkit-inner-spin-button {
    display: none;
}