<div class="example-container">
  <p>{{ label }}</p>
    <mat-form-field>
      <input matInput placeholder="Model">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Year">
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" class="save">{{ labelButton }}</button>
      <button mat-raised-button (click)="onCancelClicked()">{{ 'CANCEL' | translate }}</button>
    </div>
  </div>