.btn-add {
    margin: auto;
    position: absolute;
    top: 85vh;
    left: 90vw;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
  }
  
  .example-header {
    min-height: 64px;
    min-width: 300px;
    max-width: 800px;
    padding: 8px 24px 0;
    margin: auto;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    /* max-height: 1000px; */
  }

  .div-color {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;
  }